@use "colorography" as color;

// [text]
.text-align {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

// [font]
.font-size--x-large {
  font-size: 2.813rem;
  line-height: 2.813rem;
  font-weight: 300;
}

.font-size--large {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.font-size--semi-large {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-size--medium {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.font-size--regular {
  font-size: 1rem;
  line-height: 1rem;
}

.font-size--small {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

// [spacers]
.spacer-bottom--large {
  margin-bottom: 2rem;
}

.spacer-bottom--medium {
  margin-bottom: 1rem;
}

// [paragraph]
.paragraph--semi-large {
  margin: 0.5rem 0;
  @extend .font-size--semi-large;
  color: map-get(color.$bark-palette, 900);
  font-weight: 500;
  line-height: 2rem;
}

.paragraph--medium {
  margin: 0.5rem 0;
  @extend .font-size--medium;
  color: map-get(color.$bark-palette, 400);
  font-weight: 400;
  line-height: 1.5;
}

// [icons]
.icon--small {
  width: 2rem;
  display: inline-block;
}

// [link]
.app-link {
  text-decoration: underline;
  position: relative;
  bottom: 0.5rem;
  color: map-get(color.$breeze-palette, 500);
  margin: 0 0.25rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
}
