@use "colorography" as color;

// #[text-align]
.text-align {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

// #[icons]
.icon--x-small {
  width: 1rem;
  display: inline-block;
}

.icon--small {
  width: 2.25rem;
  display: inline-block;
}

.icon--medium {
  width: 2.5rem;
  display: inline-block;
}

// [images]
.image--small {
  max-width: 10rem;
}

// [link]
.app-link {
  text-decoration: underline;
  position: relative;
  color: map-get(color.$breeze-palette, 500);
  margin: 0 0.25rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
}

// #[sizing]
.width-fill {
  width: 100%;
}

// margin
.app-margin--none {
  margin: 0;
}

.app-margin--small {
  margin-bottom: 0.25rem;
}

.app-margin--medium {
  margin-bottom: 0.5rem;
}

.app-margin--large {
  margin-bottom: 1rem;
}

.app-margin--x-large {
  margin-bottom: 2rem;
}

.app-margin--xx-large {
  margin-bottom: 3rem;
}

// #[color]
.text--fade {
  color: map-get(color.$bark-palette, 400);
}

.text--standout {
  color: map-get(color.$breeze-palette, 500);
}

// #[transforms]
.text--uppercase {
  text-transform: uppercase;
}

.app-font--gray-light {
  color: map-get(color.$breeze-palette, 200);
}

.app-font--gray-med {
  color: map-get(color.$bark-palette, 400);
}
