@use "colorography" as color;

.callout-detail {
  margin: 0 2rem 2rem;

  &__header {
    border-bottom: 0.063rem solid map-get(color.$bark-palette, 500);
    margin-bottom: 1rem;
  }

  &__index {
    margin: 0.5rem;
    font-weight: 500;
    color: map-get(color.$bark-palette, 300);
  }

  &__title {
    font-size: 2rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    display: inline-block;
    padding-bottom: 1rem;
    margin: 0;
  }

  &__body {
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1rem;
    color: map-get(color.$bark-palette, 900);
  }
}
