@use "colorography" as color;

.callout-detail {
  padding: 2rem;
  color: map-get(color.$breeze-palette, 500);
  min-height: 12rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__index {
    margin: 0.5rem;
    font-weight: 300;
  }

  &__title {
    display: inline-block;
    margin: 0;
  }

  &__body {
    color: map-get(color.$bark-palette, 200);
    margin-bottom: 1.125rem;
  }

  &__content {
    font-size: 1rem;
  }
}
