@use "colorography" as color;

.about-card {
  &__image {
    max-width: 11rem;
    border-radius: 50%;
    background-color: map-get(color.$cloud-palette, 500);
  }

  &__icon {
    width: 1.5rem;
    display: block;
    transform: rotate(-45deg);
    display: inline-block;
  }

  &__summary-container {
    margin-bottom: 2rem;
  }

  &__summary {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: map-get(color.$bark-palette, 900);
    font-weight: 500;
    line-height: 2rem;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    font-size: 1rem;

    &-item {
      border-top: 0.063rem solid map-get(color.$bark-palette, 100);
      padding: 1rem 0;
    }

    &-label {
      color: map-get(color.$bark-palette, 300);
      font-weight: 500;
      margin-bottom: 0.875rem;
    }

    &-value {
      font-size: 1.5rem;
      color: map-get(color.$bark-palette, 900);
      word-break: break-word;
    }
  }
}
