@use "colorography" as color;

.about-card {
  padding: 0 4rem;

  &__image {
    max-height: 9.375rem;
  }

  &__summary {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    font-size: 1rem;

    &-item {
      margin-bottom: 0.5rem;
    }
    &-label {
      font-weight: 600;
      margin-right: 0.25rem;
    }
  }
}
