<div class="about-card">
  <div class="about-card__header">
    <!--
    <div class="about-card__image-container">
      <img
        class="about-card__image"
        src="assets/images/profile-image-min.png"
        alt="avatar"
      />
    </div>
  -->
    <ul class="about-card__list">
      <li class="about-card__list-item" *ngFor="let item of personalInfo">
        <div class="about-card__list-label">{{ item.label }}</div>
        <div class="about-card__list-value">
          {{ item.value }}
        </div>
      </li>
    </ul>
  </div>
  <div class="about-card__body">
    <div class="about-card__summary-container">
      <img
        class="about-card__icon"
        src="assets/icons/arrow-angled-right-icon.svg"
        alt="->"
      />
      <p class="about-card__summary">
        {{ summary }}
      </p>
    </div>
    <div class="about-card__action-container" fxLayout="row" fxLayoutGap="8px">
      <button mat-stroked-button routerLink="/projects">Projects</button>
      <button mat-stroked-button routerLink="/resume">Resume</button>
    </div>
  </div>
</div>
