@use "colorography" as color;

.app-nav-list {
  &--row.mat-mdc-list-base {
    display: flex;
    flex-direction: row;
  }

  .mdc-list-item {
    width: auto;
  }

  .mdc-list-item__primary-text {
    text-transform: capitalize;
  }
}
