<app-page-template class="projects">
  <!--#projects-->
  <app-page-section-template>
    <div appInView (inView)="onInView('t1')">
      <app-page-section-header-template
        [title]="'Coding Projects'"
        [animate]="true"
        *ngIf="animationMap['t1']"
      >
      </app-page-section-header-template>
    </div>
    <app-divider></app-divider>
    <section class="app-layout-container">
      <div class="app-layout-section--1x" appInView (inView)="onInView('t2')">
        <app-animate-content
          [animation]="'slideInLeft'"
          *ngIf="animationMap['t2']"
        >
          <p class="app-paragraph--medium">
            Some of my personal projects developed for demoing and implementing
            different concepts and functionality. These are publicly available
            on GitHub.
          </p>
        </app-animate-content>
      </div>
      <div class="app-layout-section--2x" appInView (inView)="onInView('t3')">
        <app-animate-content
          [animation]="'slideInRight'"
          *ngIf="animationMap['t3']"
        >
          <ng-container *ngIf="projects$ | async as projects">
            <app-detail-item
              [index]="i"
              [detail]="detail"
              *ngFor="let detail of projects; index as i"
            ></app-detail-item>
          </ng-container>
        </app-animate-content>
      </div>
    </section>
  </app-page-section-template>
</app-page-template>
