<app-page-template class="home">
  <!-- section -->
  <app-page-section-template>
    <ng-container *ngIf="personal$ | async as personal">
      <p class="home__subtitle">
        <app-animate-text [text]="personal.occupationType"></app-animate-text>
      </p>
      <h1 class="home__title">
        <app-animate-text [text]="personal.occupation"></app-animate-text>
      </h1>
      <app-animate-content [animation]="'slideUpAppear'">
        <div class="home__image-container">
          <img
            class="home__image"
            src="assets/images/profile/profile-1-image.png"
            alt="idea"
          />
        </div>
      </app-animate-content>
      <p class="home__subtitle">
        <app-animate-text [text]="personal.fullName"></app-animate-text>
      </p>
    </ng-container>
    <app-divider [size]="'xxlarge'"></app-divider>
    <div appInView (inView)="onInView('t6')">
      <app-animate-content
        [animation]="'slideInRight'"
        *ngIf="animationMap['t6']"
      >
        <div fxLayout="row" fxLayoutAlign="end center">
          <app-arrow-icon [arrowType]="'down'"></app-arrow-icon>
          <span class="font-size--large text--standout">More</span>
        </div>
      </app-animate-content>
    </div>
  </app-page-section-template>
  <app-page-section-template>
    <div appInView (inView)="onInView('t0')">
      <h2 class="home__section-title" *ngIf="animationMap['t0']">
        <app-animate-text [text]="'Providing Value'"></app-animate-text>
      </h2>
    </div>
    <section class="layout-container">
      <div
        class="layout-section--1x"
        fxFlexAlign="start"
        appInView
        (inView)="onInView('t1')"
      >
        <app-animate-content
          [animation]="'slideInLeft'"
          *ngIf="animationMap['t1']"
        >
          <app-content-card [content]="aboutContentCard"></app-content-card>
        </app-animate-content>
      </div>
      <div
        class="layout-section--1x"
        fxFlexAlign="start"
        appInView
        (inView)="onInView('t2')"
      >
        <ng-container *ngIf="animationMap['t2']">
          <app-animate-content
            [animation]="'slideInRight'"
            *ngFor="let detail of calloutDetails; index as i"
          >
            <app-detail-item [index]="i" [detail]="detail"></app-detail-item>
          </app-animate-content>
        </ng-container>
      </div>
    </section>
    <app-divider [size]="'xlarge'"></app-divider>
  </app-page-section-template>
  <app-page-section-template>
    <div appInView (inView)="onInView('t5')">
      <h2 class="home__section-title" *ngIf="animationMap['t5']">
        <app-animate-text [text]="'Experience'"></app-animate-text>
      </h2>
    </div>
    <section class="layout-container">
      <div
        class="layout-section--1x"
        fxFlexAlign="start"
        appInView
        (inView)="onInView('t3')"
      >
        <app-animate-content
          [animation]="'slideInLeft'"
          *ngIf="animationMap['t3']"
        >
          <app-content-card [content]="resumeContentCard"></app-content-card>
        </app-animate-content>
      </div>
      <div
        class="layout-section--1x"
        fxFlexAlign="start center"
        appInView
        (inView)="onInView('t4')"
      >
        <app-animate-content
          [animation]="'slideInRight'"
          *ngIf="animationMap['t4']"
        >
          <p class="paragraph--medium">
            Background of working and collaborating across departments and teams
            to achieve goals.
          </p>
          <p class="paragraph--medium">
            I have worked closely with design and branding teams for assessing
            UI/UX for improvements and technical feasibility. Collaborated with
            product team members to gather and determine project requirements.
            Additionally worked with back end engineers for establishing API
            contracts and integrations.
          </p>
        </app-animate-content>
      </div>
    </section>
  </app-page-section-template>
</app-page-template>
