@use "colorography" as color;
@use "shared" as shared;

.home {
  &__title {
    @extend .font-size--xxx-large;
    color: map-get(color.$breeze-palette, 500);
    text-transform: uppercase;
    margin: 0;
    @include shared.layout-bp(lt-md) {
      font-size: 4rem;
      line-height: 4.25rem;
      font-weight: 300;
    }
  }

  &__subtitle {
    @extend .font-size--xx-large;
    color: map-get(color.$breeze-palette, 500);
    text-transform: uppercase;
    margin: 0;
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
      line-height: 2.25rem;
      font-weight: 400;
    }
  }

  &__image-container {
    background: url(../../../../assets/images/backgrounds/gray-texture-image.jpg)
      no-repeat center center;
    background-size: cover;
    max-width: 30.875rem;
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 10rem;
    position: relative;
    left: 8%;
    top: 0.5rem;
  }
}
