@use "colorography" as color;
@use "typography" as type;
@use "layout" as layout;

.home {
  &__title {
    text-transform: uppercase;
    color: map-get(color.$white-palette, 500);
    @extend .app-font--giant;
    margin-bottom: 0.25rem;
    @include layout.layout-bp(lt-md) {
      font-size: map-get(type.$app-font-sizes, xx-large);
      line-height: 3.25rem;
      font-weight: 300;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    color: map-get(color.$white-palette, 500);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    @extend .app-font--xx-large;
    @include layout.layout-bp(lt-md) {
      font-size: map-get(type.$app-font-sizes, x-large);
      line-height: 2.25rem;
      font-weight: 300;
    }
  }

  &__image-container {
    background: url(../../../../assets/images/backgrounds/gray-texture-image.jpg)
      no-repeat center center;
    background-size: cover;
    max-width: 30.875rem;
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
  }

  &__image {
    position: relative;
    left: 8%;
    top: 0.5rem;
  }
}
