@use "colorography" as color;

.home {
  &__text--loud {
    color: map-get(color.$breeze-palette, 500);
  }

  &__text--quite {
    color: map-get(color.$bark-palette, 400);
  }

  &__image {
    max-width: 21.875rem;
  }
}

.paragraph--medium {
  max-width: 31.25rem;
}
