<app-page-template class="home">
  <div *ngIf="personal$ | async as personal">
    <app-page-section-template [style.backgroundColor]="'#e8e8e8'">
      <!-- sub section begin -->
      <section class="home__section home__section--left">
        <h1 class="home__title">
          <span class="home__title-text">{{ personal.occupationType }}</span>
          <span class="home__title-text">{{ personal.occupation }} </span>
        </h1>
        <div
          class="home__image-container"
          fxLayout="column"
          fxLayoutAlign="start start"
        >
          <img
            class="home__image"
            src="assets/images/profile/profile-1-image.png"
            alt="profile-pic"
          />
        </div>
        <h2 class="home__subtitle">
          {{ personal.fullName }}
        </h2>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
          <img
            class="icon--small"
            src="assets/icons/arrow-right-icon.svg"
            alt=">"
          />
          <button mat-fab routerLink="/about">About Me</button>
        </div>
      </section>
    </app-page-section-template>
  </div>
</app-page-template>
