@use "colorography" as color;

.page-template {
  padding-bottom: 3rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 500;
    margin-bottom: 3rem;
    text-transform: uppercase;
    line-height: 2.5rem;
  }

  &__content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    width: 100%;
    max-width: 60rem;
  }
}
