@use "colorography" as color;

.page-template {
  padding-bottom: 3rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2.25rem;
    color: map-get(color.$bark-palette, 900);
    font-weight: 500;
    margin-bottom: 3rem;
  }

  &__content {
    max-width: 60rem;
    margin: auto;
  }
}
