@use "colorography" as color;
@use "typography" as type;
@use "shared";

.gallery {
  &__item {
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
    }
  }

  &__label {
    @extend .app-font--base;
    @extend .app-margin--large;
    color: map-get(color.$gray-dark-palette, 200);
    border-bottom: 1px solid map-get(color.$gray-dark-palette, 500);
    padding-bottom: 0.25rem;
  }

  &__showcase {
    &-image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__mobile {
    &-image-container {
      width: 200px;
      @include shared.layout-bp(lt-md) {
        width: 100px;
      }
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
