@use "colorography" as color;

.portfolio {
  &__section {
    margin-bottom: 2rem;

    &-title {
      font-size: 1.75rem;
      font-weight: 600;
      text-transform: uppercase;
      color: map-get(color.$bark-palette, 400);
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__divider {
    margin: 2rem 0;
  }
}
