<app-page-template class="portfolio">
  <div class="portfolio__title" title>Projects</div>
  <div content fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
    <section class="portfolio__section" fxFlex="1 0 0">
      <h1 class="portfolio__section-title">Recent Items</h1>
      <mat-divider class="portfolio__divider"></mat-divider>
      <app-portfolio-grid
        [cards]="sortedCards.featured"
        [featured]="true"
      ></app-portfolio-grid>
    </section>
    <section class="portfolio__section" fxFlex="1 0 0">
      <h1 class="portfolio__section-title">Previous Items</h1>
      <mat-divider class="portfolio__divider"></mat-divider>
      <app-portfolio-grid [cards]="sortedCards.general"></app-portfolio-grid>
    </section>
  </div>
</app-page-template>
