<app-page-template class="portfolio">
  <span class="portfolio__title" title>Projects</span>
  <div content>
    <section class="portfolio__section">
      <h1 class="portfolio__section-title">Recent Items</h1>
      <app-portfolio-grid
        [cards]="sortedCards.featured"
        [featured]="true"
      ></app-portfolio-grid>
    </section>
    <mat-divider class="portfolio__section-divider"></mat-divider>
    <section class="portfolio__section">
      <h1 class="portfolio__section-title">Previous Items</h1>
      <app-portfolio-grid [cards]="sortedCards.general"></app-portfolio-grid>
    </section>
  </div>
</app-page-template>
