@use "colorography" as color;

.banner {
  max-width: 31.25rem;

  &__header {
    display: inline-block;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    margin-bottom: 0;
  }

  &__callout {
    color: rgba(0, 0, 0, 0.2);
    margin-right: 0.25rem;
  }

  &__divider {
    margin: 0.25rem 1rem;
  }

  &__message {
    margin: 1rem 0;
    font-size: 0.875rem;
    color: color.$color-contrast;
    background-color: map-get(color.$bark-palette, 900);
    border-radius: 0.25rem;
    padding: 1rem;
  }
}
