<div class="banner" fxLayout="row" fxLayoutGap="15px">
  <div>
    <div class="banner__header">
      <h1 class="banner__title" *ngIf="personal">
        {{ personal.firstName + " " + personal.lastName }}
      </h1>
      <mat-divider class="banner__divider"></mat-divider>
      <h2
        class="banner__subtitle"
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="5px"
      >
        <div class="banner__callout">Front End</div>
        <div>Software Engineer</div>
      </h2>
    </div>
    <div class="banner__message-container">
      <img
        class="banner__icon"
        src="assets/icons/arrow-angled-right-icon.svg"
        alt="->"
      />
      <p class="banner__message">
        Welcome to my website, take a look around to find out about me and
        things I'm working on...
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-fab routerLink="/about">About Me</button>
    </div>
  </div>
</div>
