<div class="banner" fxLayout="row" fxLayoutGap="15px">
  <div>
    <div class="banner__header">
      <h1 class="banner__title" *ngIf="personal">
        {{ personal.firstName + " " + personal.lastName }}
      </h1>
      <mat-divider class="banner__divider"></mat-divider>
      <h2
        class="banner__subtitle"
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="5px"
      >
        <div class="banner__callout">Front End</div>
        <div>Software Engineer</div>
      </h2>
    </div>
    <p class="banner__message">
      Welcome to my website, feel free to take a look around to find out more
      about me and some of the things I'm working.
    </p>
    <button mat-button routerLink="/about">More About Me</button>
  </div>
</div>
