@use "colorography" as color;

:host {
  display: flex;
  justify-content: center;
}

.banner {
  max-width: 31.25rem;

  &__header {
    display: inline-block;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    margin-bottom: 0.5rem;
    line-height: 3rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    margin-bottom: 0;
  }

  &__callout {
    color: map-get(color.$bark-palette, 200);
  }

  &__icon {
    width: 1.5rem;
    display: block;
  }

  &__divider {
    margin: 0.25rem 0;
  }

  &__message-container {
    margin-bottom: 2rem;
  }

  &__message {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: map-get(color.$bark-palette, 400);
    font-weight: 500;
    line-height: 2rem;
  }
}

.mat-fab {
  color: map-get(color.$cloud-palette, 500);
  background-color: map-get(color.$bark-palette, 900);
  height: 7.813rem;
  width: 7.813rem;
  font-size: 1rem;
}
