@use "colorography" as color;

.gallery-preview {
  &__card {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0.5rem;
    border: 0.063rem solid map-get(color.$white-palette, 500);
    &:hover {
      .gallery-preview__figure {
        transform: scale(1.1);
      }
    }
    transform: scale(0.85);
    transition: all 500ms;
  }

  &__title {
    color: map-get(color.$white-palette, 500);
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    transform: rotate(-90deg) translate(-88px, 88px);
  }

  &__figure {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    transition: all 500ms ease-in-out;
  }
}

drag-scroll {
  max-height: 15rem;
}

.mat-fab {
  background-color: map-get(color.$gray-dark-palette, 500);
  color: map-get(color.$gray-light-palette, 500);
}

.active {
  transform: scale(1);
}
