<div class="gallery-preview" *ngIf="gallery">
  <drag-scroll [scrollbar-hidden]="true" #nav>
    <div
      class="gallery-preview__card"
      drag-scroll-item
      [ngClass]="{ active: galleryItem === activeGalleryItem }"
      (click)="onSelect(i)"
      *ngFor="let galleryItem of gallery; index as i"
    >
      <figure class="gallery-preview__figure">
        <picture>
          <source type="image/avif" [attr.srcSet]="galleryItem.previewImage" />
          <img
            class="home__image"
            [ngSrc]="galleryItem.previewImageFallback"
            alt="profile image"
            width="200"
            height="200"
            priority="true"
          />
        </picture>
      </figure>
      <figure class="gallery-preview__overlay">
        <div class="gallery-preview__title">{{ galleryItem.name }}</div>
      </figure>
    </div>
  </drag-scroll>
</div>
<app-divider [size]="'large'"></app-divider>
<div class="gallery-preview__controls-container">
  <button mat-fab (click)="moveLeft()" aria-label="move carousel left">
    <img
      class="icon--x-small"
      src="assets/icons/chevron-left.svg"
      alt="move carousel left"
    />
  </button>
  <button mat-fab (click)="moveRight()" aria-label="move carousel right">
    <img
      class="icon--x-small"
      src="assets/icons/chevron-right.svg"
      alt="move carousel right"
    />
  </button>
</div>
