<div class="gallery-preview" *ngIf="gallery">
  <drag-scroll [scrollbar-hidden]="true" #nav>
    <div
      class="gallery-preview__card"
      drag-scroll-item
      [ngClass]="{ active: galleryItem === activeGalleryItem }"
      (click)="onSelect(i)"
      *ngFor="let galleryItem of gallery; index as i"
    >
      <figure
        class="gallery-preview__figure"
        [ngStyle]="{
          'background-image': 'url(' + galleryItem.previewImage + ')'
        }"
      ></figure>
      <figure class="gallery-preview__overlay">
        <h4 class="gallery-preview__title">{{ galleryItem.name }}</h4>
      </figure>
    </div>
  </drag-scroll>
</div>
<app-divider [size]="'large'"></app-divider>
<div class="gallery-preview__controls-container">
  <button mat-fab (click)="moveLeft()" aria-label="move carousel left">
    <img
      class="icon--x-small"
      src="assets/icons/chevron-left.svg"
      alt="move carousel left"
    />
  </button>
  <button mat-fab (click)="moveRight()" aria-label="move carousel right">
    <img
      class="icon--x-small"
      src="assets/icons/chevron-right.svg"
      alt="move carousel right"
    />
  </button>
</div>
