@use "colorography" as color;

.portfolio-featured-card {
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: map-get(color.$bark-palette, 500);

    caption {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    td {
      border: solid map-get(color.$bark-palette, 200);
      border-width: 1px 0 1px 0;
      padding: 1.5rem 0;
    }
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 500;
    color: map-get(color.$bark-palette, 500);
    margin: 1.5rem 0;
    line-height: 2rem;
  }
}
