@use "colorography" as color;

:host {
  display: flex;
  justify-content: center;
}

.portfolio-featured-card {
  min-height: 25rem;
  max-width: 36rem;
  background: url(../../../../assets/images/sample-demo-app-promo-min.png)
    no-repeat 0 0;
  background-size: cover;
  position: relative;
  width: 100%;

  &__aside {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    bottom: 0;
    color: map-get(color.$cloud-palette, 500);
    padding: 1.5rem;
  }

  &__title {
    line-height: 1.5rem;
  }

  &__subtitle {
    color: map-get(color.$cloud-palette, 500);
  }

  &__link.mat-stroked-button {
    display: block;
    border: 1px solid map-get(color.$cloud-palette, 500);
    margin: 0.5rem 0;
    width: 100%;
  }

  &__image-container {
    transform: translateX(50%);
    max-width: 400px;
  }
}
