<mat-card class="portfolio-featured-card" *ngIf="card" fxLayout="row">
  <aside
    class="portfolio-featured-card__aside"
    fxLayout="column"
    fxFlex="0 0 40%"
    fxFlex.lt-sm="0 0 100%"
    fxLayoutAlign="center end"
  >
    <mat-card-actions
      class="portfolio-featured-card__actions"
      fxLayout="column"
      fxLayoutGap="15px"
      *ngIf="card.links as links"
    >
      <a
        class="portfolio-featured-card__link"
        [href]="designLink"
        *ngIf="links.design as designLink"
        mat-fab
        target="_blank"
        rel="noopener noreferrer"
        >Design</a
      >
      <a
        class="portfolio-featured-card__link"
        [href]="repoLink"
        *ngIf="links.repo as repoLink"
        mat-fab
        target="_blank"
        rel="noopener noreferrer"
        >Code</a
      >
      <a
        class="portfolio-featured-card__link"
        [href]="demoLink"
        mat-fab
        *ngIf="links.demo as demoLink"
        target="_blank"
        rel="noopener noreferrer"
        >Demo</a
      >
    </mat-card-actions>
  </aside>
</mat-card>
