@use "color" as color;
@use "typography" as type;
@use "layout" as bp;

.page-section-header-template {
  color: map-get(color.$white-palette, 500);
  text-align: left;

  &__supertitle {
    @extend .app-font--medium;
    // not able to extend in media query
    @include bp.layout-bp(lt-md) {
      font-size: map-get(type.$app-font-sizes, small);
      line-height: 1.125rem;
      font-weight: 400;
    }
  }

  &__title {
    @extend .app-font--xxx-large;
    margin-bottom: 0.25rem;
    @include bp.layout-bp(lt-md) {
      font-size: map-get(type.$app-font-sizes, x-large);
      line-height: 2.5rem;
      font-weight: 300;
    }
  }

  &__subtitle {
    @extend .app-font--x-large;
    @include bp.layout-bp(lt-md) {
      font-size: map-get(type.$app-font-sizes, medium);
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
}
