<app-page-template class="portfolio">
  <div class="spacer-bottom--x-large"></div>
  <app-page-section-template>
    <section class="layout-container">
      <div class="layout-section--1x" fxFlexAlign="start">
        <p class="paragraph--medium">
          Some of my personal projects I developed for demoing and implementing
          different concepts and functionality. These are publicly available on
          GitHub.
        </p>
      </div>
      <div class="layout-section--2x" fxFlexAlign="start">
        <div *ngIf="portfolioCards$ | async as cards">
          <app-callout-detail
            [index]="i"
            [detail]="card"
            *ngFor="let card of cards; index as i"
          ></app-callout-detail>
        </div>
      </div>
    </section>
  </app-page-section-template>
</app-page-template>
