<app-page-template class="portfolio" *ngIf="portfolio">
  <!--#gallery preview section-->
  <app-page-section-template>
    <div appInView (inView)="onInView('t0')">
      <app-page-section-header-template
        [title]="'Sample Design & Build'"
        [animate]="true"
        *ngIf="animationMap['t0']"
      >
      </app-page-section-header-template>
    </div>
    <app-divider></app-divider>
    <app-animate-content [animation]="'slideInRight'">
      <app-gallery-preview
        [gallery]="portfolio.gallery"
        (handleView)="onView($event)"
      ></app-gallery-preview>
    </app-animate-content>
  </app-page-section-template>
  <!--# section-->
  <app-page-section-template>
    <app-gallery-item
      [galleryItem]="galleryItem"
      *ngIf="galleryItem"
    ></app-gallery-item>
  </app-page-section-template>
</app-page-template>
