@use "colorography" as color;

.portfolio {
  &__caption {
    margin: 0.5rem 0 2rem 0;
    font-size: 2rem;
    color: map-get(color.$bark-palette, 400);
    font-weight: 500;
    line-height: 2rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;

    caption {
      text-align: left;
    }

    td {
      border: solid map-get(color.$bark-palette, 900);
      border-width: 1px 0 1px 0;
      padding: 0.5rem 0;
    }
  }

  &__project-description {
    font-size: 1.25rem;
    color: map-get(color.$bark-palette, 900);
    margin: 1rem 0;
    line-height: 1.75rem;
  }

  &__icon {
    width: 1.5rem;
    display: inline-block;
    transform: rotate(-45deg);
  }
}
