@use "color" as color;
@use "layout" as layout;

.gallery-item {
  &__details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  &__label {
    margin-bottom: 1rem;
    color: map-get(color.$gray-dark-palette, 200);
    border-bottom: 1px solid map-get(color.$gray-dark-palette, 500);
    padding-bottom: 0.25rem;
  }

  &__figure {
    margin: 0;
  }

  &__showcase {
    &-figure {
      margin: 0;
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__mobile {
    &-image-container {
      width: 200px;
      @include layout.layout-bp(lt-md) {
        width: 100px;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      position: relative !important;
    }
  }

  &__mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__desktop-image {
    width: 100%;
    height: 100%;
  }

  &__desktop-item {
    align-items: center;
    justify-content: center;
    gap: 30px;
    @include layout.layout-bp(lt-md) {
      flex-direction: column-reverse;
    }
  }
}
