<div class="gallery-item" *ngIf="galleryItem">
  <!--#details section -->
  <div class="gallery-item__section" appInView>
    <app-animate-content [animation]="'slideInLeft'">
      <!--#details container-->
      <div class="gallery-item__details-container app-margin-bottom--large">
        <div class="gallery-item__item">
          <div class="gallery-item__label">Details</div>
          <p class="app-paragraph--small">
            {{ galleryItem.description }}
          </p>
        </div>
        <div class="gallery-item__item">
          <div class="gallery-item__label">Color Palette</div>
          <app-color-palette
            [colorPalette]="galleryItem.branding.colorPalette"
          ></app-color-palette>
        </div>
        <div class="gallery-item__item">
          <div class="gallery-item__label">Typography</div>
          <div
            class="app-font--xxx-large app-text-accent-color"
            [style.fontFamily]="galleryItem.branding.typography"
          >
            <span
              *ngFor="let weight of ['300', '400']"
              [style.fontWeight]="weight"
              >Aa
            </span>
          </div>
        </div>
      </div>
    </app-animate-content>
  </div>
  <app-divider [size]="'xlarge'"></app-divider>
  <!--#content section -->
  <div appInView>
    <app-animate-content [animation]="'slideInRight'">
      <!--#mobile item-->
      <div class="gallery-item__section--center">
        <div class="text-align--center">
          <div class="app-font--x-large app-text-accent-color">
            Responsive Design.
          </div>
          <div class="app-font--medium app-text-contrast-color">
            Mobile Thinking.
          </div>
        </div>
        <app-divider></app-divider>
        <div class="gallery-item__mobile-container">
          <div
            class="gallery-item__mobile-image-container"
            *ngFor="let image of galleryItem.mobileImages"
          >
            <img class="gallery-item__mobile-image" [src]="image" alt="image" />
          </div>
        </div>
      </div>
      <app-divider [size]="'xlarge'"></app-divider>
      <!--#desktop item -->
      <div class="gallery-item__desktop-item">
        <div class="text-align--center">
          <div class="app-font--x-large app-text-accent-color">
            Optimal Experience.
          </div>
          <div class="app-font--medium app-text-contrast-color">
            Engaging Users.
          </div>
        </div>
      </div>
      <app-divider></app-divider>
      <img
        class="gallery-item__showcase-image"
        [src]="galleryItem.secondaryImage"
        alt="showcase-image"
      />
    </app-animate-content>
  </div>
</div>
