<div class="app">
  <mat-sidenav-container>
    <!--#sidenav-->
    <mat-sidenav #sidenav class="app__sidenav" [mode]="'over'">
      <!--#nav-->
      <nav class="app__nav">
        <mat-nav-list class="app-nav-list" *ngIf="navs$ | async as navs">
          <a
            mat-list-item
            [routerLink]="navItem.value"
            *ngFor="let navItem of navs"
            (click)="sidenav.toggle()"
            >{{ navItem.label }}</a
          >
        </mat-nav-list>
      </nav>
    </mat-sidenav>
    <!--#sidenav content-->
    <mat-sidenav-content class="app__sidenav-content">
      <header class="app__header">
        <mat-toolbar appInView [disconnect]="false" (inView)="onInView($event)">
          <mat-toolbar-row>
            <button
              class="hamburger hamburger--collapse"
              aria-label="menu"
              [ngClass]="{ 'is-active': sidenav.opened }"
              type="button"
              tabindex="0"
              (click)="sidenav.toggle()"
              *ngIf="mobileQuery?.matches || !navInViewStatus; else navList"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <ng-template #navList>
              <app-animate-content [animation]="'slideUpAppear'">
                <!--#nav-->
                <nav class="app__nav">
                  <mat-nav-list
                    class="app-nav-list app-nav-list--row"
                    *ngIf="navs$ | async as navs"
                  >
                    <a
                      mat-list-item
                      [routerLink]="navItem.value"
                      *ngFor="let navItem of navs"
                      ><span class="app-text-accent-color">{{
                        navItem.label
                      }}</span></a
                    >
                  </mat-nav-list>
                </nav>
              </app-animate-content>
            </ng-template>
          </mat-toolbar-row>
        </mat-toolbar>
      </header>
      <main class="app__main">
        <router-outlet></router-outlet>
      </main>
      <footer class="app__footer">
        <div *ngIf="personal$ | async as personal">
          <p class="font-size--base">{{ personal.email }}</p>
          <p>© 2023 ianaco</p>
          <div class="app__link-container">
            <a class="app-link" [routerLink]="'/info'" aria-label="app info"
              >AppInfo</a
            >
            <a
              class="app-link"
              href="https://ianaco.web.app/sitemap.html"
              aria-label="sitemap"
              >Sitemap</a
            >
          </div>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
