@use "colorography" as color;
@import "burger-menu";
$hamburger-types: (collapse) !default;

.app {
  height: 100%;

  &__sidenav-content {
    position: relative;

    &-overlay {
      background-color: darken(map-get(color.$gray-dark-palette, 900), 3);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 500ms;
      display: block;
      z-index: 2000;
    }

    &-overlay-label {
      color: map-get(color.$gray-light-palette, 500);
      font-size: 3.5rem;
      text-transform: capitalize;
      position: relative;
      top: 18.75rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__container {
    padding-top: 3rem;
  }

  &__footer {
    margin: 5rem 0;
    padding: 1rem;
    text-align: center;
    color: map-get(color.$gray-dark-palette, 200);
    font-weight: 400;
  }
}

.mat-sidenav-container {
  background-color: map-get(color.$gray-dark-palette, 900);
  height: 100vh;
  position: relative;
}

.mat-sidenav {
  background-color: inherit;
}

.mat-toolbar {
  background: transparent;
  color: map-get(color.$gray-light-palette, 500);
}

.hamburger {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  line-height: 0.625rem;
  border-radius: 50%;
  position: fixed;
  right: 2rem;
  z-index: 1000;
  transition: all ease-in-out;

  &-box {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-inner:before,
  &-inner,
  &-inner:after {
    height: 0.188rem;
    width: 1.5rem;
    background-color: color.$color-contrast;
  }

  &.is-active {
    .hamburger-inner:before,
    .hamburger-inner,
    .hamburger-inner:after {
      background-color: color.$color-contrast;
    }
  }
}
