@use "colorography" as color;

.app {
  height: 100%;

  &__link {
    color: map-get(color.$cloud-palette, 500);
    text-decoration: none;
  }

  &__container {
    padding: 1rem 2rem;
    height: calc(100% - 64px);
    box-sizing: border-box;
  }

  &__sidenav {
    &-item {
      margin-bottom: 1rem;
    }

    &-label {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }

    &-value {
      font-weight: 300;
      text-decoration: none;
      color: map-get(color.$cloud-palette, 500);
    }

    &-body {
      color: map-get(color.$cloud-palette, 500);
      font-size: 1rem;
      flex-grow: 1;
    }

    &-footer {
      color: map-get(color.$bark-palette, 300);
    }
  }
}

.mat-divider {
  background: map-get(color.$bark-palette, 500);
  margin: 1rem 0;
}

.mat-sidenav-container {
  background: url(../assets/images/wave-background-min.png) no-repeat 0 0;
  background-size: cover;
}

.mat-sidenav {
  background-color: map-get(color.$bark-palette, 900);
}

.mat-list {
  padding: 0;
}

.mat-toolbar {
  background: none;
}

.mat-icon-button {
  font-size: 1.5rem;
  color: map-get(color.$cloud-palette, 500);
  background-color: map-get(color.$bark-palette, 900);
  position: fixed;
  box-shadow: 0 0 0.25rem map-get(color.$cloud-palette, 500);
  z-index: 1000;
  margin-top: 0.5rem;
}
