@use "colorography" as color;

.app {
  height: 100%;

  &__link {
    color: map-get(color.$cloud-palette, 500);
    text-decoration: none;
  }

  &__container {
    padding: 1rem 2rem;
    height: calc(100% - 64px);
    box-sizing: border-box;
  }
}

.mat-divider {
  background: map-get(color.$bark-palette, 500);
}

.mat-sidenav-container {
  background: url(../assets/images/wave-background-min.png) no-repeat 0 0;
  background-size: cover;
}

.mat-sidenav {
  background-color: map-get(color.$bark-palette, 900);
}

.mat-list {
  margin: 1rem 0;
}

.mat-toolbar {
  background: none;
}

.mat-icon-button {
  font-size: 1.5rem;
  color: map-get(color.$cloud-palette, 500);
  background-color: map-get(color.$bark-palette, 900);
}
