<section
  class="page-section-template"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxFlexFill
>
  <div class="page-section-template__content-container">
    <div class="page-section-template__header">
      <h1 class="page-section-template__title">
        <ng-content select="[title]"></ng-content>
      </h1>
      <h2 class="page-section-template__subtitle">
        <ng-content select="[subtitle]"></ng-content>
      </h2>
    </div>
    <div class="page-section-template__content">
      <ng-content></ng-content>
    </div>
  </div>
</section>
