@use "colorography" as color;
@use "shared" as shared;
@use "typography" as type;
@use "layout" as bp;

:host {
  display: block;
}

.page-section-template {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  &__content-container {
    max-width: 60rem;
    width: 100%;
  }

  &__content {
    width: 100%;
  }
}
