@use "colorography" as color;
@use "shared";
@use "typography" as type;

.content-card {
  &__header {
    margin-bottom: 1rem;
    max-width: 22rem;
  }

  &__title {
    color: map-get(color.$gray-dark-palette, 200);
    @extend .app-font--medium;
    margin-bottom: 0.5rem;
  }

  &__image {
    max-width: 18rem;
  }
}

.app-link-divider {
  color: map-get(color.$gray-dark-palette, 200);
  display: inline-block;
}
