@use "colorography" as color;
@use "shared";

.content-card {
  &__header {
    margin-bottom: 1rem;
    max-width: 22rem;
  }

  &__title {
    color: map-get(color.$bark-palette, 400);
    @extend .font-size--medium;
    margin-bottom: 0.5rem;
  }

  &__image {
    max-width: 18rem;
  }
}

.app-link-divider {
  color: map-get(color.$breeze-palette, 400);
  display: inline-block;
}
