@use "colorography" as color;

.home {
  &__title {
    font-size: 4rem;
    color: map-get(color.$bark-palette, 900);
    text-shadow: 1px 1px 0.25rem map-get(color.$bark-palette, 300);
  }

  &__subtitle {
    color: map-get(color.$bark-palette, 400);
  }

  &__callout {
    text-transform: uppercase;
    color: #a4c639;
  }

  &__message {
    font-size: 0.875rem;
    background-color: map-get(color.$bark-palette, 900);
    color: map-get(color.$cloud-palette, 500);
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    max-width: 15rem;
    box-shadow: 0.063rem 0.063rem 0.5rem gray;
    font-style: italic;
    letter-spacing: 0.063rem;

    &::after {
      content: "";
      position: absolute;
      border: 1.5rem solid;
      border-color: transparent transparent transparent
        map-get(color.$bark-palette, 900);
      display: block;
      left: -0.5rem;
      bottom: -0.625rem;
      transform: rotate(30deg);
    }
  }
}
