@use "colorography" as color;

.home {
  &__title {
    font-size: 4rem;
    color: map-get(color.$bark-palette, 900);
    text-shadow: 1px 1px 0.25rem map-get(color.$bark-palette, 300);
  }

  &__subtitle {
    color: map-get(color.$bark-palette, 400);
  }

  &__callout {
    text-transform: uppercase;
    color: map-get(color.$cloud-palette, 500);
    color: #a4c639;
  }
}
