@use "colorography" as color;

.portfolio-card {
  height: 100%;
  text-align: center;
  color: map-get(color.$breeze-palette, 500);
  padding: 3rem 2rem;
  min-width: 300px;
  text-align: left;
  background-color: map-get(color.$bark-palette, 800);
  font-weight: 300;

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__description {
    height: 2.813rem;
  }
}

.mat-card-actions {
  margin: 1rem 0;
  width: 100%;
  text-align: right;
}

.app-link {
  color: map-get(color.$bark-palette, 300);
}
