<mat-card
  class="portfolio-card"
  fxLayout="column"
  fxLayoutAlign="start center"
  *ngIf="card"
>
  <mat-card-content>
    <mat-card-title class="portfolio-card__title">{{
      card.title
    }}</mat-card-title>
    <mat-card-subtitle class="portfolio-card__subtitle">{{
      card.subtitle
    }}</mat-card-subtitle>
    <p class="portfolio-card__description">
      {{ card.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="portfolio-card__actions">
    <a
      class="portfolio-card__link"
      [href]="link.url"
      mat-stroked-button
      target="_blank"
      rel="noopener noreferrer"
      *ngFor="let link of card.links"
      >GitHub</a
    >
  </mat-card-actions>
</mat-card>
