<mat-card
  class="portfolio-card"
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="card"
>
  <div mat-card-avatar class="portfolio-card__avatar"></div>
  <mat-card-content>
    <mat-card-title class="portfolio-card__title">{{
      card.title
    }}</mat-card-title>
    <mat-card-subtitle class="portfolio-card__subtitle">{{
      card.subtitle
    }}</mat-card-subtitle>
    <p>
      {{ card.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="portfolio-card__actions" *ngIf="card.links as links">
    <a
      class="portfolio-card__link"
      [href]="repoLink"
      *ngIf="links.repo as repoLink"
      mat-stroked-button
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >
  </mat-card-actions>
</mat-card>
