<div class="resume-document" *ngIf="resume">
  <!-- header begin -->
  <div class="layout-container-reverse">
    <section class="layout-section--1x" fxFlexAlign="start">
      <!-- [#contact] -->
      <div
        class="resume-document__section resume-document__contact"
        *ngIf="resume.contact as contact"
      >
        <div class="margin--medium" *ngFor="let item of contact.items">
          <div class="resume-document__label text-fade">{{ item.label }}</div>
          <div [innerHtml]="item.value"></div>
        </div>
      </div>
    </section>
    <section class="layout-section--1x" fxFlexAlign="start">
      <div
        class="resume-document__header resume-document__section text-align--right"
      >
        <div class="font-size--large">{{ resume.roleType }}</div>
        <div class="font-size--xx-large">{{ resume.role }}</div>
        <div class="resume-document__text-quite">
          <div class="font-size--x-large">{{ resume.fullName }}</div>
        </div>
      </div>
      <!--[#summary]-->
      <section
        fxLayout="column"
        fxLayoutAlign="start end"
        class="resume-document__summary resume-document__section paragraph--medium"
      >
        <p class="resume-document__summary-content text-align--right">
          {{ resume.summary }}
        </p>
      </section>
    </section>
  </div>
  <!-- header end -->
  <!-- body begin -->
  <div class="resume-document__body">
    <!-- [#skills] -->
    <section
      class="resume-document__section resume-document__skills"
      *ngIf="resume.skills as skills"
    >
      <h1 class="resume-document__title">{{ skills.title }}</h1>
      <mat-divider class="resume-document__divider"></mat-divider>
      <div fxLayout="row wrap">
        <div class="resume-document__skill" *ngFor="let item of skills.items">
          {{ item.label }}
        </div>
      </div>
    </section>
    <!--[#experience]-->
    <section
      class="resume-document__section resume-document__experience"
      *ngIf="resume.experience as experience"
    >
      <h1 class="resume-document__title">{{ experience.title }}</h1>
      <mat-divider class="resume-document__divider"></mat-divider>
      <div
        class="resume-document__section"
        *ngFor="let item of experience.items"
        fxLayout="row"
      >
        <div class="resume-document__timeline"></div>
        <div class="resume-document__experience-details">
          <h1 class="resume-document__experience-role">{{ item.role }}</h1>
          <div>
            <span class="resume-document__text-quite">{{ item.company }}</span>
            <span class="resume-document__date-tag"
              >{{ item.beginDate }} - {{ item.endDate }}</span
            >
          </div>
          <ul class="resume-document__list">
            <li
              class="resume-document__list-item"
              *ngFor="let qualification of item.qualifications"
            >
              {{ qualification }}
            </li>
          </ul>
          <div *ngIf="item.achievements as achievements">
            <h4 class="resume-document__text-quite">Key Achievements</h4>
            <ul class="resume-document__list">
              <li
                class="resume-document__list-item"
                *ngFor="let achievement of achievements"
              >
                {{ achievement }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- [#projects] -->
    <section
      class="resume-document__section"
      *ngIf="resume.projects as projects"
    >
      <h1 class="resume-document__title">{{ projects.title }}</h1>
      <mat-divider class="resume-document__divider"></mat-divider>
      <div
        class="resume-document__section"
        *ngFor="let item of projects.items"
        fxLayout="row"
      >
        <div class="resume-document__timeline"></div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <h3 class="resume-document__label">{{ item.name }}</h3>
            <span class="resume-document__date-tag">{{ item.date }}</span>
          </div>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </section>
    <!-- [#education] -->
    <section
      class="resume-document__section"
      *ngIf="resume.education as education"
    >
      <h1 class="resume-document__title">{{ education.title }}</h1>
      <mat-divider class="resume-document__divider"></mat-divider>
      <div *ngFor="let item of education.items">
        <div fxLayout="row" fxLayoutAlign="start start">
          <h3 class="resume-document__label">{{ item.degree }}</h3>
          <span class="resume-document__date-tag">{{ item.date }}</span>
        </div>
        <div>{{ item.minor }}</div>
        <div>
          <em>{{ item.institution }}</em>
        </div>
      </div>
    </section>
    <!-- [#certifications] -->
    <section
      class="resume-document__section"
      *ngIf="resume.certifications as certifications"
    >
      <h1 class="resume-document__title">{{ certifications.title }}</h1>
      <mat-divider class="resume-document__divider"></mat-divider>
      <div *ngFor="let item of certifications.items">
        <div fxLayout="row" fxLayoutAlign="start start">
          <h3 class="resume-document__label">{{ item.name }}</h3>
          <span class="resume-document__date-tag">{{ item.date }}</span>
        </div>
      </div>
    </section>
  </div>
  <!-- body end -->
</div>
