@use "colorography" as color;
$default-resume-color: map-get(color.$bark-palette, 100);

.resume-document {
  padding: 1rem;
  max-width: 55rem;
  margin: auto;
  font-weight: 400;
  color: $default-resume-color;

  // general
  &__label {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  &__list {
    margin: 0.25rem 0;
    padding: 0 1rem;
  }

  &__spacer {
    padding-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.25rem;
    font-weight: 500;
  }

  &__divider {
    margin-bottom: 1rem;
    border-color: $default-resume-color !important;
  }

  &__section {
    margin-bottom: 1rem;
  }

  &__date-tag {
    margin: 0 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background-color: map-get(color.$bark-palette, 500);
    font-weight: 500;
  }

  // header begin
  &__full-name {
    font-size: 2rem;
    margin-bottom: 0rem;
    line-height: 3rem;
  }

  &__role {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0rem;
  }
  // header end

  // body begin

  &__panel {
    padding: 1rem;
  }

  // <panel left begin>
  &__timeline {
    border-right: 1px solid $default-resume-color;
    margin-right: 1.5rem;
    position: relative;

    &::before {
      content: "";
      border: 2px solid $default-resume-color;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0;
      left: -0.6rem;
      background-color: map-get(color.$bark-palette, 900);
    }
  }

  // #summary
  &__summary {
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 400;
  }

  // #experience section
  &__experience {
    &-details {
      margin-top: -7px;
    }

    &-role {
      font-weight: 500;
      margin-bottom: 0.25rem;
    }
  }
  // <panel left end>
}
