@use "colorography" as color;
@use "shared";
$default-resume-color: map-get(color.$bark-palette, 100);
$divider-color: map-get(color.$bark-palette, 800);

.resume-document {
  padding: 1rem;
  max-width: 55rem;
  margin: auto;
  font-weight: 400;
  color: $default-resume-color;

  // general
  &__label {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  &__list {
    margin: 0 1rem;
    padding: 0 1rem;

    &-item {
      margin: 0.5rem 0;
      @extend .font-size--base;
    }
  }

  &__title {
    @extend .font-size--large;
  }

  &__divider {
    border-color: $divider-color;
    margin-bottom: 2rem;
  }

  &__section {
    margin-bottom: 2.5rem;
  }

  &__text-quite {
    @extend .font-size--medium;
    color: map-get(color.$bark-palette, 400);
  }

  &__date-tag {
    margin: 0 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background-color: map-get(color.$bark-palette, 500);
    font-weight: 500;
  }

  // body begin

  &__timeline {
    border-right: 1px solid $divider-color;
    margin-right: 1.5rem;
    position: relative;

    &::before {
      content: "";
      border: 2px solid $divider-color;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0;
      left: -0.6rem;
      background-color: map-get(color.$bark-palette, 900);
    }
  }

  &__skill {
    width: 6.25rem;
    height: 3.25rem;
    padding: 0.25rem;
    background-color: map-get(color.$bark-palette, 500);
    display: inline-block;
    border-radius: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__cert-image {
    max-height: 12rem;
    margin: 0.25rem;
  }
}

drag-scroll {
  height: 13rem;
  width: 100%;
}

.mat-fab {
  background-color: map-get(color.$bark-palette, 500);
  color: white;
}
