@use "color" as color;
@use "typography" as type;

.detail-item {
  padding: 1rem 0;
  color: map-get(color.$gray-light-palette, 500);
  border-top: 0.063rem solid map-get(color.$gray-dark-palette, 800);

  &__header {
    margin-bottom: 0.25rem;
  }

  &__index {
    margin-right: 0.5rem;
    font-weight: 400;
    color: map-get(color.$gray-dark-palette, 200);
  }

  &__title {
    display: inline-block;
    margin: 0;
    text-transform: capitalize;
    @extend .app-font--x-large;
  }

  &__subtitle {
    color: map-get(color.$gray-dark-palette, 200);
    display: inline-block;
    margin: 0;
    text-transform: lowercase;
    @extend .app-font--x-large;
  }

  &__body {
    color: map-get(color.$gray-dark-palette, 200);
    margin: 0.5rem 0;
  }
}
