<app-page-template class="about">
  <div title>About</div>
  <div content class="content">
    <div class="about__content">
      <div class="about__section">
        <h1 class="about__section-title">Personal Info</h1>
        <app-about-card></app-about-card>
      </div>
      <mat-divider class="about__section-divider"></mat-divider>
      <div class="about__section">
        <h1 class="about__section-title">My Skills</h1>
        <app-bubble-graph></app-bubble-graph>
      </div>
    </div>
  </div>
</app-page-template>
