@use "colorography" as color;

.about {
  &__section {
    &-title {
      font-size: 1.75rem;
      font-weight: 600;
      text-transform: uppercase;
      color: map-get(color.$bark-palette, 400);
      margin-bottom: 3rem;
      text-align: center;
    }

    &-divider {
      margin: 3rem 8rem;
    }
  }
}
