<app-page-template class="about">
  <div content class="content">
    <app-page-section-template [style.backgroundColor]="color.Breeze900">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px">
        <section fxFlex="1 0 0">
          <app-about-card [personal]="personal$ | async"></app-about-card>
        </section>
        <section fxFlex="2 0 0" class="about__section">
          <div class="about__image-container">
            <img
              class="about__image"
              src="assets/images/profile/profile-2-image1.png"
              alt="about-img"
            />
          </div>
        </section>
      </div>
    </app-page-section-template>
    <app-page-section-template [style.backgroundColor]="color.Cloud500">
      <div fxLayout="row" fxLayout.lt-sm="column">
        <app-callout-detail
          *ngFor="let detail of details; index as i"
          [index]="i"
          [detail]="detail"
        ></app-callout-detail>
      </div>
    </app-page-section-template>
    <app-page-section-template [style.backgroundColor]="color.Bark500">
      <span title [style.color]="color.Cloud500">...My Skills</span>
      <app-bubble-graph></app-bubble-graph>
    </app-page-section-template>
  </div>
</app-page-template>
