@use "colorography" as color;
@use "shared" as shared;

.about {
  &__detail {
    @extend .font-size--xxx-large;
    color: map-get(color.$breeze-palette, 500);
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid map-get(color.$bark-palette, 800);
    @include shared.layout-bp(lt-md) {
      font-size: 4rem;
      line-height: 4.25rem;
      font-weight: 300;
    }
  }

  &__section-title {
    @extend .font-size--xx-large;
    color: map-get(color.$bark-palette, 400);
    @extend .margin--xx-large;
    @include shared.layout-bp(lt-md) {
      font-size: 2.813rem;
      line-height: 3.063rem;
      font-weight: 300;
    }
  }

  &__image-container {
    background: url(../../../../assets/images/backgrounds/gray-texture-image.jpg)
      no-repeat center center;
    background-size: cover;
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 20.375rem;
    position: relative;
    top: 0.5rem;
  }

  &__heading-container {
    color: map-get(color.$bark-palette, 400);
    padding-bottom: 1rem;
  }

  &__skill {
    border-bottom: 0.063rem solid map-get(color.$bark-palette, 800);
    padding: 1rem 0;
  }
}
