<app-page-template class="about">
  <div class="spacer-bottom--x-large"></div>
  <div content class="content" *ngIf="personal$ | async as personal">
    <app-page-section-template>
      <div class="paragraph--medium text-align--right">
        <div class="font-size--large">
          {{ personal.emailUsername }}
        </div>
        <div class="font-size--regular">{{ personal.emailDomain }}</div>
      </div>
    </app-page-section-template>
    <app-page-section-template>
      <div class="about__trait-container">
        <p
          class="about__trait"
          *ngFor="let trait of personalTraits; index as i"
        >
          <span class="about__trait-callout">0{{ i + 1 }}/</span>{{ trait }}
        </p>
      </div>
      <div class="spacer-bottom--x-large"></div>
    </app-page-section-template>
    <app-page-section-template>
      <div class="layout-container">
        <section class="layout-section--1x" fxFlexAlign="start">
          <app-content-card [content]="workContentCard"></app-content-card>
        </section>
        <section class="layout-section--1x" fxFlexAlign="start">
          <div class="about__heading-container">
            <div class="font-size--large">About</div>
          </div>
          <p class="paragraph--medium">
            I'm a front end developer with experience building and maintaining
            responsive websites. I also have an interest in design and enjoy
            being part of the creative process. I've worked closely with design
            and branding teams to implement intuitive, visually pleasing
            websites for optimal experience.
          </p>
          <p class="paragraph--medium">
            Additionally I enjoy learning new things. I look to increase my
            understanding and skills as I take on new projects. This allows me
            to continually deliver an improving product.
          </p>
        </section>
      </div>
      <div class="spacer-bottom--x-large"></div>
    </app-page-section-template>
    <app-page-section-template>
      <div class="layout-container">
        <section class="layout-section--1x" fxFlexAlign="start">
          <app-content-card [content]="skillContentCard"></app-content-card>
        </section>
        <section class="layout-section--1x width-fill" fxFlexAlign="start">
          <div class="about__heading-container">
            <div class="font-size--large">Skill Set</div>
          </div>
          <div class="paragraph--medium">
            <div class="about__skill" *ngFor="let skill of personal.skills">
              {{ skill.label }}
            </div>
          </div>
        </section>
      </div>
      <div class="spacer-bottom--x-large"></div>
    </app-page-section-template>
  </div>
</app-page-template>
